{
  "branches": ["develop"],
  "repositoryUrl": "https://github.com/rmc3408/github-actions",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}